@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;400&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
html {
  font-size: 17.2px;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.not-found{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 150px;
  margin-bottom: 120px;
}