# Dependencias y archivos generados por npm/yarn
node_modules/
yarn.lock

# Archivos de registros
logs/
*.log

# Archivos de configuración locales
config/local.js

# Archivos de datos generados localmente
db/data/